* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Paficio, sans-serif;
}

.bg-dark {
    background-color: #000000 !important;
}

.footer__logo {
    color: #ffffff !important;
    font-size: 1.75rem;
}

.footer__logo:hover {
    color: #ff6600 !important;
}

.footer__brand a {
    margin-right: 0.5rem;
    padding: 0.6rem 0.7rem;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.5s;
}

.footer__brand i {
    font-size: 1rem;
    color: #ff6600;
}

.footer__brand a:hover {
    background-color: #ff6600;
}

.footer__brand a:hover i {
    color: #ffffff;
}


.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none !important;
}

.footer ul li {
    margin-bottom: 0.75rem !important;
}

.footer ul a:hover {
    color: #ff6600 !important;
}

.form__input {
    width: 100%;
    height: 3rem;
    padding: 14px 20px;
    line-height: 28px;
    font-weight: 200;
    border-radius: 5px;
    border: 1px solid transparent;
}

.footer__btn {
    padding: 12px 45px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid transparent !important;
    transition: 0.3s ease-in;
    opacity: 1;
    background-color: #ff6600 !important;
}

.footer__btn:hover {
    opacity: 0.8;
}

.footer__copyright {
    font-size: 18px;
}

.footer__copyright .text-primary {
    color: #ff6600 !important;
}

.footer__copyright .text-primary:hover {
    color: #ffffff !important;
}

.footer__copyright .col-lg-8,
.footer__copyright .col-lg-4 {
    margin: 0 !important;
    padding: 3rem 0 0;
} 

