/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.heading h6 {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 1.25rem;
}

.heading h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.25;
  color: #232121;
}

.subheading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button a {
  padding: 15px 40px;
  margin: 5px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.orange-btn a {
  background: #ff6600;
  opacity: 1;
  border: 2px solid transparent;
  transition: all 0.75s;
}

.orange-btn a:hover {
  opacity: 0.8;
}

/* HEADER */

header.ab {
  min-height: 350px;
  width: 100vw;
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(../img/img10.jpg);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.header__navbar {
  background: transparent;
  padding: 2rem 0 0 0;
}

header .header__logo {
  font-size: 2.1875rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.header__navbar-right {
  gap: 10px;
}

.header__search-bar {
  position: relative;
  margin-right: 30px; /*temporary*/
}

.header__search-bar input {
  border-radius: 5px 0 0 5px;
  padding: 10px 15px;
  height: 45px;
  font-size: 1.125rem;
  border: none;
}

.header__search-bar input:focus {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none;
}

.header__search-bar i {
  border-radius: 0px 5px 5px 0;
  font-size: 1rem;
  position: absolute;
  right: -28px;
  background-color: white;
  border-color: transparent;
  color: gray;
  padding: 14px 10px;
  height: 45px;
  cursor: pointer;
}

#menu-open {
  font-size: 35px;
  color: white;
  background: transparent;
  border: none;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0.8);
  background: rgb(6 3 0 / 77%);
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}

.overlay-open {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  z-index: 9999;
}

nav.header__menu ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

nav.header__menu ul a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.25;
  transition: all .3s;
}

nav.header__menu ul a:hover {
    color: #ff6600;
}

#menu-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #ff6600;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
}

button#darkModeToggler {
  width: 40px;
  height: 40px;
  font-size: 25px;
  background: transparent;
  color: white;
  border: none;
}

#darkModeToggler .fa-sun {
  display: none;
}

#darkModeToggler .fa-moon {
  display: block;
}

/* CAROUSEL */

.carouselAb {
  margin-top: 100px;
}

.carouselAb ul {
  font-size: 17px;
  font-weight: 700;
  background: none;
}

.carouselAb .breadcrumb-item:first-of-type a {
  color: #ff6600;
}

.carouselAb .breadcrumb-item:first-of-type a:hover {
  text-decoration: none;
}

.carouselAb .breadcrumb-item:nth-of-type(2) {
  color: white;
}

.carouselAb .breadcrumb-item:nth-of-type(2)::before {
  content: "";
}

/* ABOUT US (ab page) */

.aboutAb img {
  border-radius: 5px;
}

.aboutAb__Text h3 {
  color: #232121;
  font-size: 2.5rem;
  font-weight: 600;
}

.aboutAb__Text p {
  font-size: 1.125rem;
}

.aboutAb__Text .button a {
  padding: 15px 45px;
}

.aboutAb__Text p:nth-of-type(2) {
  margin-bottom: 40px;
}

.aboutAb__features {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  padding-top: 70px;
}

.aboutAb__features h3 {
  font-size: 2.5rem;
  color: #232323;
  font-weight: 600;
}

.aboutAb__features a {
  font-size: 1.25rem;
  color: #ff6600;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 5px;
  display: block;
}

.aboutAb__features a:hover {
  text-decoration: none;
  color: #ffc600;
}

.aboutAb__features p {
  font-size: 1.125rem;
}

/* SKILLS */

.skills {
  background-color: #f7f7f7;
}

.skills__content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 30px;
}

.skills__photo img {
  border-radius: 5px;
}

.skills__stats .heading p {
  font-size: 1.1rem;
}

.skills__item {
  margin-bottom: 25px;
}

.skills__item h6 {
  color: #232323;
  font-size: 1.2rem;
  font-weight: 700;
}

.skills__stat {
  background: rgba(22, 28, 45, 0.7);
  height: 0.35rem;
}

.skills__stat .progress-bar {
  background: #ff6600;
}

/* TEAM */
figure.team__item img {
    border-radius: 5px;
}

.team__item figcaption h3 {
    font-size: 2rem;
}

.team__item figcaption a {
    margin-top: 30px;
    font-size: 1.6rem;
    color: #232323;
    font-weight: 700;
    display: block;
    transition: all .3s;
}

.team__item figcaption:hover a {
    text-decoration: none !important;
    color: #f60 !important;
}

.team__item figcaption span {
    font-size: 1.125rem;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 400;
}


/* DARK MODE */

.dark {
  background-color: #232121;
}

.dark .header__search-bar input,
.dark .header__search-bar i {
  background-color: #232121;
  color: white;
}

.dark #darkModeToggler .fa-sun {
  display: block;
  color: aliceblue;
}

.dark #darkModeToggler .fa-moon {
  display: none;
}

.dark .aboutAb__Text h3,
.dark .heading h2, .dark .skills__item h6, .dark .team__item figcaption a {
  color: #eee;
}

.dark .aboutAb__Text p,
.dark .aboutAb__features h3,
.dark .aboutAb__features p, .dark .skills__stats .heading p, .dark .team__item figcaption span {
  color: #c2d0da;
}

.dark .skills {
    background-color: #282828;
  }

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  .heading h2 {
    font-size: 2rem;
    line-height: 1.25;
  }

  .aboutAb__Text h3 {
    font-size: 1.875rem;
  }

  .aboutAb__features h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .aboutAb__features {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .team__item:last-of-type {
    margin-top: 30px;
  }
}

@media screen and (max-width: 991.5px) {
  .skills__content {
    grid-template-columns: 1fr 1fr;
  }

  .skills__stats {
    grid-column: 1 / span 2;
  }

  .skills__photo img:first-of-type {
    grid-column: 1 / span 1;
  }

  .skills__photo img:last-of-type {
    grid-column: 2 / span 1;
  }
}

@media screen and (max-width: 990px) {
    .team__item figcaption a {
        margin-top: 15px;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 800px) {
  .aboutAb__features {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .aboutAb__features a {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .heading h2 {
    font-size: 1.875rem;
    line-height: 1.25;
  }

  .heading h6 {
    font-size: 1rem;
  }

  .header__search-bar {
    display: none;
  }

  .aboutAb__Text h3 {
    font-size: 1.75rem;
  }

  .aboutAb__Text p {
    font-size: 1rem;
  }

  .aboutAb__features p {
    font-size: 1rem;
  }

  .skills__stats .heading p {
    font-size: 1rem;
  }

  .team__item figcaption span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .aboutAb__features a {
    margin-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .heading h2 {
    font-size: 1.5rem;
  }

  .aboutAb__Text h3 {
    font-size: 1.5rem;
  }

  .aboutAb__Text .button a {
    padding: 15px;
  }

  .aboutAb__features h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
